<nav class="navbar navbar-expand-lg navbar-ligth bg-ligth">
    <h1>{{title}}</h1>
</nav>
<div style="margin: 50px">
    <p>Inicie sesión o regístrese</p>
   <a href="/login" class="btn btn-primary btn-lg active">Acceder</a>
   <a href="/register" class="btn btn-success btn-lg active">Registrarse</a>
</div>